h2{
    color:green;
}

div {
    padding :30px;
    margin: 30px;
    border: 3px solid black;
    border-radius:20px;
}

#centerpiece{
    display: flex;
}
.team {
    flex:1
}
.teamblock {

    flex:1
}
img{
    width:50%;
    border-radius: 10px;
    border:2px solid black

}
