body {
    font-family: sans-serif;
    background-color:#264653;
    color:whitesmoke;
}

div {
    padding :10px;
    margin: 5px;
    border: 1px solid whitesmoke;
    border-radius:20px;
    background-color:#2A9D8F;
}

#centerpiece{
    display: flex;
    background-color:#E9C46A;
}
.team {
    display:flex;
    flex:1;
    
}
.teamblock {
    flex:1
}
#header, #bodyinfo, #breedselection, #breedSection, #footer{
    background-color:#F4A261;
}

#teamtwostats, #teamonestats{
flex:1;
background-color:#E76F51;

}

img{
    width:50%;
    border-radius: 10px;
    border:2px solid whitesmoke;

}

button {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:20px;
    border:1px solid black; 
}

button:hover{
    opacity:70%;
    cursor:pointer;
}

select {
    padding:10px;
    border-radius: 20px;
    font-size: 1em;
}
