body {
    font-family: sans-serif;
}

div {
    padding :10px;
    margin: 5px;
    border: 1px solid black;
    border-radius:20px;
}

#centerpiece{
    display: flex;
}
.team {
    display:flex;
    flex:1;
    
}
.teamblock {
    flex:1
}

#teamtwostats, #teamonestats{
flex:1;
}

img{
    width:50%;
    border-radius: 10px;
    border:2px solid black

}

button {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius:20px;
    border:1px solid black; 
}

button:hover{
    opacity:70%;
    cursor:pointer;
}